<?xml version="1.0" encoding="windows-1251"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ListOfTimerLastings>
    <float>18.8971443</float>
    <float>19.7694321</float>
    <float>9.56918</float>
    <float>6.66853046</float>
    <float>16.8123817</float>
    <float>2.53024077</float>
    <float>8.639611</float>
    <float>16.0552521</float>
    <float>4.102635</float>
    <float>10.9528313</float>
  </ListOfTimerLastings>
  <ListOfFigureColors>
    <Color>
      <r>0.04992865</r>
      <g>0.05683313</g>
      <b>0.177723065</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.9833652</r>
      <g>0.8714245</g>
      <b>0.9736695</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.046439413</r>
      <g>0.0426315553</g>
      <b>0.0005832518</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.725299358</r>
      <g>0.749615252</g>
      <b>0.721666038</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.3060439</r>
      <g>0.7084852</g>
      <b>0.665381432</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.06694354</r>
      <g>0.3419222</g>
      <b>0.07677669</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.855882645</r>
      <g>0.5379346</g>
      <b>0.5309583</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.654726565</r>
      <g>0.866313636</g>
      <b>0.904276252</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.8262954</r>
      <g>0.287053</g>
      <b>0.181271121</b>
      <a>1</a>
    </Color>
    <Color>
      <r>0.285663515</r>
      <g>0.137257487</g>
      <b>0.05176748</b>
      <a>1</a>
    </Color>
  </ListOfFigureColors>
</Settings>